<?xml version='1.0' encoding='UTF-8'?>
<plugins xmlns:android="http://schemas.android.com/apk/res/android">
	<plugin id="4" name="ad_meizu2" game="BoomDots" script="false">
		<param name="AD_MeiZu_Banner_ID" value="ac18823f12b4ca6c6f209f7aed75cdc9" />
		<param name="AD_MeiZu_Interstitial_ID" value="bccda9553ca678d19c36558dc04d7936" />
		<param name="AD_MeiZu_RewardVideo_ID" value="7edb857ef29adef00c0cd2d8a0b0bc60"/>
		<param name="AD_MeiZu_Splash_ID" value="8b7bcc89a946b6ef5bf5b7210d76c4b8"/>
		<param name="AD_MeiZu_Banner_Position" value="1"/>
	</plugin>
	
	<plugin id="4" name="ad_baidu" game="BoomDots" script="true">
		<param name="AD_BaiDu_Banner_ID" value="2050839" />
		<param name="AD_BaiDu_Interstitial_ID" value="2050840" />
		<param name="AD_BaiDu_Splash_ID" value="2050841" />
		<param name="AD_BaiDu_RewardVideo_ID" value="2050842" />
		<param name="AD_BaiDu_Banner_Position" value="1" />
		
		<meta-data name="DUOKU_AD_APPKEY" value="11125131"/>
<!--         DUOKU_AD_PRODUCT_KEY：填写 productKey信息  -->
        <meta-data name="DUOKU_AD_PRODUCT_KEY" value="uDxP9u9InnhH1DzDHsGXofVT"/>
<!--         DUOKU_AD_VERSION：填写sdk 版本 -->
        <meta-data name="DUOKU_AD_VERSION" value="3.1.0"/>
        
<!--         <param name="AD_BaiDu_Banner_ID" value="1000000" />
		<param name="AD_BaiDu_Interstitial_ID" value="1000001" />
		<param name="AD_BaiDu_Splash_ID" value="1000002" />
		<param name="AD_BaiDu_RewardVideo_ID" value="1000003" />
		<param name="AD_BaiDu_Banner_Position" value="1" />
		
		<meta-data android:name="DUOKU_AD_APPKEY" value="50040"/>
        DUOKU_AD_PRODUCT_KEY：填写 productKey信息 
        <meta-data android:name="DUOKU_AD_PRODUCT_KEY" value="OWNDEV_w6FRJc4aTw2oCPxyj"/>
        DUOKU_AD_VERSION：填写sdk 版本
        <meta-data android:name="DUOKU_AD_VERSION" value="3.1.0"/> -->
	</plugin>
	
	<plugin id="3" name="ad_vivo" game="BoomDots" script="false">
	<!-- demo参数 -->
		<param name="VIVO_AppID" value="b220712c388141d6a5cb944980c3f57b" />
		<param name="AD_VIVO_Splash_App_Name" value="碰碰球" />
		<param name="AD_VIVO_Splash_App_Desc" value="休闲益智首选" />
		
		<param name="AD_VIVO_Banner_ID" value="646f81ed5f4f4e57a9d426905c88ffef" />
		<param name="AD_VIVO_Interstitial_ID" value="9edf613fe0c44bfab5fb29362117251c" />
		<param name="AD_VIVO_Splash_ID" value="58a469f76d9a4a53aa651b875c4e2775"/>
		<param name="AD_VIVO_RewardVideo_ID" value="8b4baa87708a403eaed3c59614174882"/>
		<param name="AD_VIVO_Banner_Position" value="1"/>
	</plugin>
	
	<plugin id="4" name="ad_lenovo" game="BoomDots" script="false">
		<param name="AD_Lenovo_Banner_ID" value="1806010562504.app.lnjibovllf" />
		<param name="AD_Lenovo_Interstitial_ID" value="1806010562504.app.lnjibpzwn6" />
		<param name="AD_Lenovo_Splash_ID" value="" />
		<param name="AD_Lenovo_RewardVideo_ID" value="1806010562504.app.lnjibq1rtf" />
		<param name="AD_Lenovo_Banner_Position" value="1" />

<!--         <meta-data
            android:name="lenovo.open.appid"
            android:value="1806010562504.app.ln" /> -->
        <!-- value=" 在此处填入申请的 lenovo open AppID" 渠道sdk中已经配置 -->
	</plugin>
	
	<plugin id="5" name="ad_oppo" game="BoomDots" script="false">
		<param name="OPPO_AppID" value="3681224"/>
		<param name="AD_OPPO_Splash_App_Name" value="碰碰球" />
		<param name="AD_OPPO_Splash_App_Desc" value="休闲益智首选" />
		
		<param name="AD_OPPO_Banner_Position" value="1"/>
		<param name="AD_OPPO_Banner_ID" value="15356" />
		<param name="AD_OPPO_Interstitial_ID" value="15357" />
		
		<!-- 暂时不支持这2种广告 -->
<!-- 		<param name="AD_OPPO_Splash_ID" value="331"/>
		<param name="AD_OPPO_RewardVideo_ID" value="332"/> -->

	</plugin>

	<plugin id="6" name="ad_xiaomi" game="BoomDots" script="false">
		<param name="AD_XiaoMi_APP_ID" value="2882303761517707344"/>
		<param name="AD_XiaoMi_Banner_ID" value="6a5ec9ac8263788400c141b4f22cea48" />
		<param name="AD_XiaoMi_Interstitial_ID" value="5a069dfa53b3f2303b271818210dac51" />
		<param name="AD_XiaoMi_Splash_ID" value="2ee681c365d4e588bb31b28ac3bdad3a"/>
		<param name="AD_XiaoMi_RewardVideo_ID" value="c073eb92f9357a8fd6531e71a6513a6e"/>
		<param name="AD_XiaoMi_Banner_Position" value="1"/>
	</plugin>
	
	<plugin id="7" name="ad_yyb" game="BoomDots" script="false">
		<param name="AD_YYB_Banner_Position" value="1"/>
		
		<!-- 测试数据 -->
		<param name="AD_YYB_APP_ID" value="1101152570"/>
		<param name="AD_YYB_Banner_ID" value="9079537218417626401" />
		<param name="AD_YYB_Interstitial_ID" value="8575134060152130849" />
		<param name="AD_YYB_Splash_ID" value="8863364436303842593"/>
		<param name="AD_YYB_RewardVideo_ID" value="5090421627704602"/>
		
	</plugin>
</plugins>